In [8]:
import pandas as pd

In [9]:
demande = pd.read_csv("DEMAND.csv", sep=";")

In [11]:
demande.sample(4)

   TIME_SLOTS     3G     4G     5G
2           3  0.002  0.005  0.008
3           4  0.002  0.005  0.009
4           5  0.003  0.006  0.010
1           2  0.002  0.005  0.007

$D_{NG}$ --> demande moyenne